<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta charset="UTF-8"></meta>
<title>thymeleaf</title>
	<script type="text/javascript" th:src="@{/static/test.js}"></script>

</head>
<body>
thymeleaf模板引擎
<h1>hello thymeleaf</h1>
<h3 th:text="${name}"></h3>
<p>---------------------------------------</p>
<div>
	用户姓名:<input type="text" th:id="${user.name}" th:name="${user.name}" th:value="${user.name}"></input>
	<br/>
	用户年龄:<input type="text" th:value="${user.age}"></input>
	<br/>
	用户生日:<input type="text" th:value="${user.brithday}"></input>
	<br/>
	<!-- 时间类型可以通过${#dates.format(user.brithday,'yyyy-MM-dd')} -->
</div>
<p>---------------------------------------</p>
<div th:object="${user}">
	用户姓名:<input type="text" th:id="*{name}" th:name="*{name}" th:value="*{name}"></input>
	<br/>
	用户年龄:<input type="text" th:value="*{age}"></input>
	<br/>
	用户生日:<input type="text" th:value="*{#dates.format(brithday,'yyyy-MM-dd')}"></input>
	<br/>
	<!-- 时间类型可以通过${#dates.format(user.brithday,'yyyy-MM-dd')} -->
</div>
<p>---------------------------------------</p>
<span th:text="${desc}"></span><br/>
<span th:utext="${desc}"></span>
<p>---------------------------------------</p>
URL:<a th:href="@{http://www.tmooc.cn}">点我跳转</a>
<p>---------------------------------------</p>
<form th:action="@{/getResource}" th:object="${user}" method="post" th:method="post">
	<input type="text" th:field="*{name}"></input>
	<input type="submit"/>
</form>
<p>---------------------------------------</p>
<div th:if="${user.age} == 20">十八岁天空</div>
<div th:if="${user.age} gt 18">成年了</div>
<div th:if="${user.age} lt 18">未成年</div>
<p>---------------------------------------</p>
<select>
	<option>请选择</option>
	<option th:selected="${user.name eq '张三'}">张三</option>
	<option th:selected="${user.name eq '李四'}">李四</option>
	<option th:selected="${user.name eq '王武'}">王武</option>
</select>
<p>---------------------------------------</p>
<table>
	<tr>
	<th>姓名</th>
	<th>年龄</th>
	<th>生日</th>
	</tr>
	<tr th:each="person:${userList}">
		<td th:text="person.name"></td>
		<td th:text="person.age"></td>
		<td th:text="${#dates.format(user.brithday,'yyyy-MM-dd')}"></td>
	</tr>
</table>
<p>---------------------------------------</p>
<div th:switch="${user.name}">
	<p th:case="张三">就是一屌丝</p>
	<p th:case="李四">高富帅</p>
	<p th:case="*">国民岳父</p>

</div>
</body>
</html>